.options {
  position: absolute;
  bottom: 3px;
  left: 0;
  width: 100%;
  padding-bottom: 10vh;
}

.movie-detail-image {
  width: 20%;
  height: auto;
  margin-left: 10%;
  margin-right: 2%;
}

/* Font-size utilities */
.fs-1 {
  font-size: 2.5rem !important;
}
.fs-2 {
  font-size: 2rem !important;
}
.fs-3 {
  font-size: 1.75rem !important;
}
.fs-4 {
  font-size: 1.5rem !important;
}
.fs-5 {
  font-size: 1.25rem !important;
}
.fs-6 {
  font-size: 1rem !important;
}

/* Additional font sizes for more flexibility */
.fs-7 {
  font-size: 0.875rem !important;
}
.fs-8 {
  font-size: 0.75rem !important;
}
.fs-9 {
  font-size: 0.625rem !important;
}

/* Font weight utilities */
.fw-bold {
  font-weight: bold !important;
}
