.options {
  position: absolute;
  bottom: 3px;
  left: 0;
  width: 100%;
  padding-bottom: 10vh;
}

.movie-info {
  width: 20%;
  height: auto;
  margin-right: 2%;
  padding-left: 3%;
}

.movie-showtime-page {
  margin-left: 5rem;
}

.format-container {
  padding-left: 3%;
  width: 100%;
}

.showtime-container {
  width: 45%;
}

.center-line {
  border-right: var(--primary) 1px solid;
}

.showtime-container button {
  font-size: 1.5rem;
}
